PORT=3000
FIREBASE_API_KEY=AIzaSyD5HPOAocEGn42I-Nz3vRAED1LAj1yXrqo
FIREBASE_AUTH_DOMAIN=hiloer-dea33.firebaseapp.com
FIREBASE_PROJECT_ID=hiloer-dea33
FIREBASE_STORAGE_BUCKET=hiloer-dea33.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=686460957046
FIREBASE_APP_ID=1:686460957046:web:32e3167fec34e42b9eca57
FIREBASE_DATABASE_URL=https://hiloer-dea33-default-rtdb.firebaseio.com
FIREBASE_DATABASE_SECRET=
